body {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  margin: 10px;
}
progress {
  width: 100%;
}
img {
  display: none;
}
button,
input[type=submit],
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  min-width: 80px;
}
input[type=button]:disabled {
  opacity: 0.5;
}
#result {
  min-height: 40px;
  background-color: #fff9ed;
  margin: 10px 0;
  overflow: auto;
  flex: 1;
  padding: 5px;
}
#result:empty::before {
  content: attr(data-msg);
}
#result .ocr_par:first-child {
  margin-top: 0;
}
#result .ocr_par:last-child {
  margin-bottom: 0;
}
.ocr_line {
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  white-space: nowrap;
  align-items: center;
  justify-items: left;
  grid-gap: 5px;
}
#language {
  border: none;
  width: 140px;
  text-overflow: ellipsis;
  background-color: transparent;
  outline: none;
  margin-left: -3px;
}
#tools {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-gap: 5px;
  justify-content: end;
}
