.itrisearch-box,
.itrisearch-guide-1,
.itrisearch-guide-2,
.itrisearch-guide-3,
.itrisearch-image {
  all: initial;
}

.itrisearch-box {
  box-sizing: border-box;
  position: fixed;
  z-index: 2147483640;
  border: gray 1px dotted;
  box-shadow: 0 0 0 50000px rgba(0, 0, 0, 0.2);
}
.itrisearch-box::before {
  content: '';
  display: block;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin-left: -10px;
  margin-top: -10px;
  cursor: crosshair;
}

.itrisearch-guide-1,
.itrisearch-guide-2 {
  box-sizing: border-box;
  position: fixed;
  z-index: 2147483643;
}
.itrisearch-guide-1 {
  anchor-name: --itrisearch-guide-1;
  border-right: dashed 1px gray;
  top: 0;
  left: 0;
  height: 100%;
}
.itrisearch-guide-2 {
  anchor-name: --itrisearch-guide-2;
  border-bottom: dashed 1px gray;
  top: 0;
  left: 0;
  width: 100%;
}
.itrisearch-guide-3 {
  z-index: 2147483643;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.itrisearch-image {
  --size: 200px;

  z-index: 2147483641;
  position: fixed;
  top: anchor(--itrisearch-guide-2 bottom);
  left: anchor(--itrisearch-guide-1 right);
  width: var(--size);
  height: var(--size);
  border: solid 1px;
  box-shadow: 0 0 5px #7c7c7c;
  transform: translate(20px, 20px);
  overflow: auto;
  background-repeat: no-repeat;
}
.itrisearch-image::before,
.itrisearch-image::after {
  position: fixed;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}
.itrisearch-image::before {
  border-top: solid 1px red;
  border-left: solid 1px red;
  top: anchor(--itrisearch-guide-2 bottom);
  left: anchor(--itrisearch-guide-1 right);
  transform: translate(calc(var(--size) / 2), calc(var(--size) / 2));
}
.itrisearch-image::after {
  border-bottom: solid 1px red;
  border-right: solid 1px red;
  top: anchor(--itrisearch-guide-2 bottom);
  left: anchor(--itrisearch-guide-1 right);
  transform: translate(calc(var(--size) / 2 - 20px), calc(var(--size) / 2 - 20px));
}
